In [1]:

url="https://data.un.org/_Docs/SYB/CSV/SYB62_153_201906_Gross%20Value%20Added%20by%20Economic%20Activity.csv"

In [2]:
from urllib.request import urlretrieve
urlretrieve(url, "df.csv")

('df.csv', <http.client.HTTPMessage at 0x7f9291593050>)

In [5]:
import pandas as pd
df=pd.read_csv("df.csv")

In [6]:
df.head()

,T14,Gross Value added by kind of economic activity,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,4,Afghanistan,1985,"Agriculture, hunting, forestry and fishing (% ...",51.2252,NaN,"United Nations Statistics Division, New York, ..."
2,4,Afghanistan,1995,"Agriculture, hunting, forestry and fishing (% ...",65.6861,NaN,"United Nations Statistics Division, New York, ..."
3,4,Afghanistan,2005,"Agriculture, hunting, forestry and fishing (% ...",35.2479,NaN,"United Nations Statistics Division, New York, ..."
4,4,Afghanistan,2010,"Agriculture, hunting, forestry and fishing (% ...",28.8094,NaN,"United Nations Statistics Division, New York, ..."